# Substituir api.example.com pelo domínio da API e configurar HTTPS.
server {
    listen 80;
    server_name api.example.com;
    client_max_body_size 32k;
    location / {
        proxy_pass http://127.0.0.1:9005;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 35s;
    }
}